In [1]:
#PRINT
print("HELLO WORLD")

HELLO WORLD

In [2]:
print (100 + 100 + 100)

300

In [3]:
#COMMENTS START WITH HASH 
#MULTI LINE COMMENTS ''''''
'''
AAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAA
'''
2+3

5

In [4]:
i = 10
print(i)

10

In [5]:
def cube(x):
    return x**3

In [6]:
cube(3)

27

In [7]:
def root(x):
    return x**2

In [8]:
root(9)

81

In [9]:
def square(start, end):
    return[(i**2 for i in range (start, end+1))]

In [10]:
#ADDITION
a = 2
b = 3
c = a + b
print ("SUM OF", a, "AND",b,"IS",c)

SUM OF 2 AND 3 IS 5

In [11]:
#DIVISION OF TWO NUMBER
a = 10
b = 2
c = a/b
print(c)

5.0

In [13]:
#CONCATENATE TWO STRINGS
a = "MY NAME IS "
b = 'WAZIR LAGHARI'
c = a+b
print(c)

MY NAME IS WAZIR LAGHARI

In [14]:
#CONCATENATE TWO STRINGS
a = "MYNAMEIS"
b = 'WAZIRLAGHARI'
c = 'STUDENT'
d = a+b+c
print(d)

MYNAMEISWAZIRLAGHARISTUDENT

In [15]:
#CONCATENATE TWO STRINGS SEE DIFFERENCES
a = "MYNAMEIS"
b = 'WAZIRLAGHARI'
c = 'STUDENT'
print(a,b,c, 100)

MYNAMEIS WAZIRLAGHARI STUDENT 100

In [18]:
#STRING CAPITALIZE
a = "niaz laghari"
b = a.capitalize()
print(b)

Niaz laghari

In [19]:
#STRING IN UPPER CASE
a = "niaz laghari"
b = a.upper()
print("this is upper case of string a:", b)

this is upper case of string a: NIAZ LAGHARI

In [20]:
#STRING IN LOWER CASE
a = "NIAZ LAGHARI"
b = a.lower()
print("this is lower case of string a:", b)

this is lower case of string a: niaz laghari

In [21]:
#IN STRING EVERY WORD OF FIRST LETTER IS CAPITAL
a = "niaz laghari student"
b = a.title()
print("this is lower case of string a:", b)

this is lower case of string a: Niaz Laghari Student

In [26]:
a = "niaz laghari student"
b = a.islower()
print(b) # RESPONSE IS TRUE

True

In [27]:
a = "niaz laghari student"
b = a.isupper()
print(b)

False

In [28]:
a = "Niaz Laghari Student"
b = a.istitle()
print(b)

True

In [30]:
#isalpha means in this string all is alphabet character
a = "NiazLaghariStudent"
b = a.isalpha()
print(b)

True

In [32]:
#isalpha means in this string all is alphabet character
a = "92NiazLaghariStudent"
b = a.isalpha()
print(b)

False

In [31]:
a = "Niaz Laghari Student"
b = a.isalpha()
print(b)

False

In [33]:
#isalnum means in this string alphabet and numbers
a = "92NiazLaghariStudent"
b = a.isalnum()
print(b)

True

In [36]:
#isdigit means in this string only all digits
a = "123"
b = a.isdigit()
print(b)

True

In [38]:
#HERE SEE HOW SPLIT THE STRING
a = "WAZIR LAGHARI STUDENT ."
b = a.split()
print(b)

['WAZIR', 'LAGHARI', 'STUDENT', '.']

In [40]:
#HERE SPLIT AND REMOVE ONE LETTER FROM STRING
a = "WAZIR LAGHARI STUDENT ."
b = a.split('A')
print(b)

['W', 'ZIR L', 'GH', 'RI STUDENT .']

In [42]:
#HERE SPLIT ONLY SMALL e LETTER
a = "Sun Rises In The East"
b = a.split('e')
print(b)

['Sun Ris', 's In Th', ' East']

In [43]:
#FIND IS USE TO FIND THE LETTER PRESENT ON WHAt POSITION IN STRING
a = "Sun Rises In The East"
b = a.find('In')
print(b)

10

In [48]:
#FIND IS USE TO FIND THE LETTER PRESENT ON WHAt POSITION IN STRING
a = "Sun Rises In The East 651309"
b = a.find('In')
c = a.find('651309')
print(b)
print(c)

10
22

In [55]:
#PRINT SENTENCE IN SEPARATE LINE WE USE /n
print('Wazir Laghari\n\nStudent')

Wazir Laghari

Student

In [54]:
#\t used to create space of four 
print('Wazir Laghari\t\tStudent')

Wazir Laghari		Student

In [59]:
#'\'   '\' Print in Quote 
print('\'Wazir Laghari Student\'')

'Wazir Laghari Student'

In [60]:
#Print in Double Quote 
print("\"Wazir Laghari Student\"")

"Wazir Laghari Student"

In [62]:
#Print Back Slash
print("\\Wazir Laghari Student\\")

\Wazir Laghari Student\

In [63]:
#Print Back Slash
print("\\\\Wazir Laghari Student\\\\")

\\Wazir Laghari Student\\

In [68]:
a = ['wazir','laghari','student','123']
b = ';'
print (b.join(a))

wazir;laghari;student;123

In [70]:
a = ['wazir','laghari','student','123']
b = '******' #USE ANY SEPARATOR
print (b.join(a))

wazir******laghari******student******123

In [73]:
print('{}{}'.format('wazir','laghari'))

wazirlaghari

In [76]:
print('{} {} {} {}'.format('wazir','laghari', 'student','electrical'))

wazir laghari student electrical